<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homework.railwayproject.mapper.HighSpeedPassengerCleanMapper">

    <insert id="insertBatchSomeColumn" parameterType="java.util.List">
        INSERT INTO high_speed_passenger_clean (
            ticket_id,
            operation_line_code,
            train_code,
            original_site_id,
            depart_station_id,
            arrive_station_id,
            line_site_id,
            upline_code,
            travel_date,
            depart_time,
            distance_seq,
            boarding_count,
            alighting_count,
            ticket_price,
            ticket_type,
            seat_type_code,
            train_company_code,
            start_station_telecode,
            origin_station,
            end_station_telecode,
            dest_station,
            train_level_code,
            train_type_code,
            ticket_station,
            farthest_arrival_station,
            ticket_time,
            arrival_station,
            data_version,
            create_time,
            update_time,
            create_by,
            update_by,
            status,
            is_deleted
        ) VALUES
        <foreach collection="list" item="item" separator=",">
        (
            #{item.ticketId},
            #{item.operationLineCode},
            #{item.trainCode},
            #{item.originalSiteId},
            #{item.departStationId},
            #{item.arriveStationId},
            #{item.lineSiteId},
            #{item.uplineCode},
            #{item.travelDate},
            #{item.departTime},
            #{item.distanceSeq},
            #{item.boardingCount},
            #{item.alightingCount},
            #{item.ticketPrice},
            #{item.ticketType},
            #{item.seatTypeCode},
            #{item.trainCompanyCode},
            #{item.startStationTelecode},
            #{item.originStation},
            #{item.endStationTelecode},
            #{item.destStation},
            #{item.trainLevelCode},
            #{item.trainTypeCode},
            #{item.ticketStation},
            #{item.farthestArrivalStation},
            #{item.ticketTime},
            #{item.arrivalStation},
            #{item.dataVersion},
            #{item.createTime},
            #{item.updateTime},
            #{item.createBy},
            #{item.updateBy},
            #{item.status},
            #{item.isDeleted}
        )
        </foreach>
    </insert>
</mapper>